Source: datastage-dataflow
Section: python
Priority: optional
Maintainer: DataFlow <jisc.dataflow@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
               python-all (>= 2.5),
               python-setuptools,
               python-support,
               default-jre
Standards-Version: 3.9.2
Vcs-Git: git://github.com/dataflow/DataStage.git
Homepage: https://github.com/dataflow/DataStage
XS-Python-Version: >= 2.5
Uploaders: Alexander Dutton <alexander.dutton@zoo.ox.ac.uk>

Package: datastage-dataflow
Architecture: all
Depends: ${python:Depends},
         libjs-flot,
         libjs-jquery,
         libjs-jquery-ui,
         libjs-mochikit
Description: DataStage allows research groups to manage research data locally,
             which can then be pushed to an institutional data repository.

