#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DISTUTILS_ARGS=--root=datastage/tmp \
                      --install-layout=deb \
                      --install-lib=/usr/share/dataflow \
                      --install-scripts=/usr/share/dataflow \
                      --install-data=/usr/share/dataflow


%:
	dh $@

override_dh_auto_install:
	python setup.py install ${DISTUTILS_ARGS}

	# These JS libraries are already packaged for Debian, so use those instead.
	#( cd debian/tmp/usr/share/dataflow/datastage ; \
	#  rm -Rf flot jquery jquery-ui mochikit ; \
	#  ln -s ../../javascript/flot flot ; \
	#  ln -s ../../javascript/jquery jquery ; \
	#  ln -s ../../javascript/jquery-ui jquery-ui ; \
	#  ln -s ../../javascript/mochikit mochikit ; \
	#)

override_dh_auto_build:
